*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background:#555;
}

/* container */
.container{
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}

#nav{
    background: #333;
    color: #fff;

}

.main-heading{
    text-align: center;
    padding: auto 20px;
    font-size: 40px;
}


/*  calculator */
.calculator{
    border: 1px solid white;
    width: 50%;
    background: #bcbcbc;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.calculator form{
    display: flex;
    flex-direction: column;
}

#first-num,
#second-num{
    padding: 8px;
    margin: 10px 0;
}

/* form buttons */
button{
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 30px;
}

/* result */
.result{
    margin: 10px;
}