*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background:#555;
}

/* container */
.container{
    /* display: flex;
    flex-direction: column;
    align-content: center; */
}

#nav{
    background: #333;
    color: #fff;

}

.main-heading{
    text-align: center;
    padding: auto 20px;
    font-size: 40px;
}


/*  calculator */
.calculator{
    border: 1px solid white;
    width: 60%;
    background: #bcbcbc;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.calculator form{
    display: flex;
    flex-direction: column;
}

#first-num,
#second-num{
    padding: 8px;
    margin: 10px 0;
}

/* form buttons */
button{
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 30px;
}
/* result */
#result{
    width: 40%;
    margin: 10px;
    background: #fff;
    color: blue;
    animation: slideinfromleft 1s ease-in;;
}
#output{
    background: black;
    margin: 60px;
    padding: 30px;
    color: #fff;
    font-size: 34px;
    display: flex;
    justify-content: center;
}

#p-output{
    margin-top: 15px;
    padding: 5px;
}

/* footer */
.footer{
    height: 200px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    color: #bcbcbc;
    margin-left: 10px;
}



/* animation */

@keyframes slideinfromleft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


/*  for mobile */

@media (max-width:700px) {
    .calculator{
        width:350px;
        flex-direction: column;
    }
    #result{
        width: 233px;
        margin-left: 56px;
    }
}
